/CloudyGalaxy/input_data/Chabrier_constant_SFH_IMF_lower_0p08_IMF_upper_120_star_table.ASCII
/CloudyGalaxy/input_data/Saltpeter_constant_SFH_IMF_lower_0p08_IMF_upper_120_star_table.ASCII
/examples/output_data/*
/environment_variables
*checkpoint.ipynb
/examples/*.npy
/testing/*
*.egg-info
build
dist
/models/test_model_high_res/*