/CloudyGalaxy/input_data/
/CloudyGalaxy/input_data/Chabrier_constant_SFH_IMF_lower_0p08_IMF_upper_120_star_table.ASCII
/CloudyGalaxy/input_data/cloudyLines_2021-03-29.dat
/CloudyGalaxy/input_data/Saltpeter_constant_SFH_IMF_lower_0p08_IMF_upper_120_star_table.ASCII
